@import 'https://fonts.googleapis.com/css?family=Anton';
@import 'https://fonts.googleapis.com/css?family=Open+Sans';
@import url('https://fonts.googleapis.com/css?family=Lemonada');
@import url('https://fonts.googleapis.com/css?family=Lobster');

* {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  background: #151515;
  z-index: 10;
}

.menu-open {
  position: absolute;
  width: 100px;
  height: 100px;
  left: -50.5px;
  top: -50.5px;
  border: 1px solid #858585;
  background: #333;
  transform: rotate(-45deg);
  z-index: 10;
  cursor: pointer;
}

.menu-close {
  position: absolute;
  width: 100px;
  height: 100px;
  right: -50.5px;
  top: -50.5px;
  border: 1px solid #858585;
  background: #333;
  z-index: 110;
  transform: scaleX(0) rotate(45deg);
  cursor: pointer;
}

.menu-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #252525;
  z-index: 100;
  transform: scaleX(0);
  transform-origin: left;
}

.ion-ios-arrow-right {
  position: absolute;
  color: #151515;
  top: 5px;
  left: 10px;
  font-size: 36px;
  z-index: 50;
  cursor: pointer;
}

.ion-ios-arrow-left {
  position: absolute;
  color: #151515;
  top: 5px;
  right: 10px;
  font-size: 36px;
  z-index: 1000;
  cursor: pointer;
}

.paragraph {
  position: absolute;
  text-align: center;
  width: 100%;
  height: 100%;
  margin-top: 5%;
  color: #858585;
  font-size: 20px;
  font-family: 'Roboto';
}

.paragraph span {
  font-family: 'Lobster';
  font-size: 24px;
}

#currentNav ul {
  position: absolute;
  width: auto;
  left: 50%;
  top: 50%;
  transform-origin: center;
  transform: translate(-50%, -50%);
}

#currentNav ul li {
  list-style: none;
  text-align: left;
  line-height: 50px;
  font-size: 50px;
  float: none;
  color: #858585;
  cursor: pointer;
  transition: all 0.25s ease-out;
}

#currentNav ul li a {
  text-decoration: none;
  color: #858585;
  transition: all 0.25s ease-out;
}

#currentNav ul li p {
  font-family: 'Roboto', sans-serif;
}

.first, .second, .third, .fourth {
  transform: scaleX(0);
}

#currentNav ul li a:hover {
  color: #666;
}

#page1 .first, #page2 .fourth {
  background: #151515;
}

table {
  position: absolute;
  width: 50%;
  height: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px dotted #1a1a1a;
}

table tr td form button {
  position: absolute;
  top: 0px;
  cursor: pointer;
  margin: 20px;
  background: #111;
  padding: 20px;
  border: 1px solid #666;
  color: #858585;
  border-radius: 50px;
  font: 16px 'Roboto';
  transition: all 0.25s ease-out;
}

table tr td form button:hover {
  background: #666;
  color: #111;
}

footer {
  position: fixed;
  top: 100%;
  left: 50%;
  color: #858585;
  font-family: 'Roboto';
  font-size: 16px;
  transform: translate(-50%, -250%);
}

footer a {
  color: #bfbfbf;
  text-decoration: none;
  border-bottom: 1px dotted #bfbfbf;
  transition: all 0.25s ease-out;
}

footer a:hover {
  color: #666;
  border-bottom: 0px dotted #151515;
}

@keyframes open-menu {

  0% {
    transform: scaleX(0);
  }

  100% {
    transform: scaleX(1);
  }

}

@keyframes getClose {

  0% {
    transform: scale(0) rotate(45deg);
  }

  100% {
    transform: scale(1) rotate(45deg);
  }

}

@keyframes close-menu {

  0% {
    transform: scaleX(1);
  }

  100% {
    transform: scaleX(0);
  }

}

@keyframes loseClose {

  0% {
    transform: scale(1) rotate(45deg);
  }

  100% {
    transform: scale(0) rotate(45deg);
  }

}

@keyframes scaleDown {

  0% {
    transform-origin: top;
    transform: scaleY(0);
  }

  100% {
    transform-origin: top;
    transform: scaleY(1);
  }

}
