@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

body {
    background: #F1F7EE;
}

#navBar {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 60px;
    background: #6EB575;
}

#navigation li {
    padding: 10px;
    color: #282726;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 22px;
    float: left;
    list-style-type: none;
    cursor: pointer;
}

#navigation li:hover {
    background: #F1F7EE;
}
